Module 3 Case study 2

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# Read bank data

df = pd.read_csv('1937_m3_datasets_v1_jp0_zpnuw9a/bank-data.csv')
df

     age            job  marital    y
0     20        student   single  yes
1     32     management   single  yes
2     49     technician  married  yes
3     32    blue-collar  married  yes
4     33     management  married  yes
..   ...            ...      ...  ...
442   26     technician   single  yes
443   60  self-employed  married  yes
444   42    blue-collar   single  yes
445   32         admin.   single  yes
446   46    blue-collar  married  yes

[447 rows x 4 columns]

In [65]:
# checking if y column has any value as 'no'

print(set(df['y']))

{'yes'}

In [ ]:
# data cleaning

df['job'] = df['job'].replace('admin.','admin')
print(df['job'])

0            student
1         management
2         technician
3        blue-collar
4         management
           ...
442       technician
443    self-employed
444      blue-collar
445            admin
446      blue-collar
Name: job, Length: 447, dtype: object

In [ ]:
# set of unique jobs

unique_jobs = set(df['job'])
print('Total unique jobs:', len(unique_jobs))
print(unique_jobs)

#another way
uniq = df['job'].unique()
print(uniq)

Total unique jobs: 9
{'blue-collar', 'admin', 'student', 'housemaid', 'technician', 'management', 'entrepreneur', 'self-employed', 'services'}
['student' 'management' 'technician' 'blue-collar' 'admin' 'services'
 'self-employed' 'entrepreneur' 'housemaid']

In [ ]:
# Check for client eligibility through profession

# In this case the dataset already has Job data in lowercase
unique_jobs = {element.lower() for element in unique_jobs}

while(True):
    prof = input("Enter profession to check eligibility else type 'END' to quit: ")
    if(prof != 'END'):
        if prof.lower() in unique_jobs:         #.lower() checks for case insentivity
            print("Client is eligible")
        else:
            print("Client is not eligible")
    else:
        print("Program terminated")
        break

Client is not eligible
Client is not eligible
Client is eligible
Client is eligible
Client is not eligible
Program terminated

In [ ]:
# max min age for loan eligibility

min_age = df['age'].min()
max_age = df['age'].max()
print('Minimum age for loan eligibility is ', min_age)
print('Maximum age for loan eligibility is ', max_age)

Minimum age for loan eligibility is  19
Maximum age for loan eligibility is  80

In [62]:
# store max min age in dict

age_dict = { 'min_age' : int(min_age) , 'max_age' : int(max_age) }
print(age_dict)

{'min_age': 19, 'max_age': 80}